/* 顶部导航容器 */
.topbar-wrapper{
    width: 100%;
    background-color: #333333;
    line-height: 40px;
    height: 40px;
    
}
/* 设置左侧导航栏 */
.service,.topbar li{
    float: left;

}
.app .qrcode{
    width: 124px;
    position: absolute;
    height: 0;
    background-color: #fff;
    line-height: 1;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    left: -40px;
    overflow: hidden;
    transition: height .3s;
}
.app .qrcode img{
    width: 90px;
    margin: 17px;
    margin-bottom: 10px;
}
.app .qrcode span{
    font-size: 14px;
    color:#000
}
.app{
    position: relative;
}
li:hover >.app::after{
    width: 0;
    height: 0;
    content: '';
  
    border: 8px solid transparent;
    border-top: none;
    border-bottom-color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    

}
.cart{
    position: relative;
}
.shop-cart-content{
    width: 400px;
    height: 0;
    position: absolute;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    
    overflow: hidden;
    transition: height .3s;
    text-align: center;
    line-height: 100px;
    right: 0px;
}
.shop-cart-content-span{
    font-size: 14px;
    color:#000;

   
    
}

li:hover > .app .qrcode{
    height: 148px;
    display: block;
    text-align: center;
}

/* 设置右侧导航栏 */
.shop-cart, .user-info{
    float: right;
}

.topbar a {
    font-size: 12px;
    color: #b0b0b0;
    display: block;
}
.topbar a:hover{
    color: #fff;
}

.topbar .line{
    color: #424242;
    font-size: 12px;
    margin: 0 8px;
}
.shop-cart{
    margin-left: 26px;
}
.shop-cart a {
    width: 120px;
    background-color: #424242;
    text-align: center;
}
.shop-cart i {
    margin-right: 2px;
}

.shop-cart:hover a{
    background-color: #fff;
    color: #ff6700;

}

.shop-cart:hover .shop-cart-content{
    height: 100px;
}


.header{
    height: 100px;
   

}
.header .logo{
    float: left;
    margin-top: 22px;
    width: 55px;
    height: 55px;
    position: relative;
    overflow: hidden;
}
.header .logo a {
    position: absolute;
    width: 55px;
    height: 55px;
    left: 0;
    background-color: #ff6700;
    background-image: url(../img/mi-logo.png);
    background-position: center;
    transition: left .3s;
    text-indent: -9999px;
}

.header .logo .home{
    left: -55px;
    background-image: url(../img/mi-home.png);
}
.header .logo:hover .mi{
    left: 55px;
}

.header .logo:hover .home{
    left: 0;
}
.header .nav-wrapper{
    float: left;
    margin-left: 7px;
}
.header-wrapper{
    position: relative;
}
.header .nav{
   
    line-height: 100px;
    height: 100px;
   padding-left: 58px;
}
.nav-wrapper li{
    float: left;
    list-style: none;
}

.nav-wrapper li a{
    font-size: 16px;
    margin-right: 20px;
    display: block;
}
.all-goods{
    /*隐藏但是占据位置 */
    visibility: hidden;
}
.nav-wrapper li a:hover{
    color: #ff6700;
}
.nav .goods-info{
    height: 0;
    overflow: hidden;
    /* border-top: 1px solid rgb(224, 224, 224);
    box-shadow: 0 5px 3px rgba(0, 0, 0, 0.2); */
    position: absolute;
    width: 100%;
    top: 100px;
    left: 0;
    transition: height .3s;
    
}

.nav li:not(.not-show):hover ~ .goods-info,
.goods-info:hover
{
    height: 228px;
    border-top: 1px solid rgb(224, 224, 224);
    box-shadow: 0 5px 3px rgba(0, 0, 0, 0.2);
}